ZF_ACCOUNT_SECRET=S...
ZF_ACCOUNT_PUBLIC=G...
ZF_ANCHOR_URL=https://tr-mock-anchor.fly.dev
ZF_ASSET_CODE=USDC
ZF_ASSET_ISSUER=GBBD47IF6LWK7P7MDEVSCWR7DPUWV3NY3DTQEVFL4NAT4AQH3ZLLFLA5
GEMINI_API_KEY=
ZF_MODEL=gemini-3.5-flash-lite
